<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="#">
    <title>Task Lists</title>
</head>
<body>
<header>
  <div class="head-container">
    <h2><a href="/"><i class="fa-regular fa-calendar-check" id="today"></i>Today</a></h2>
    <h2><a href="/work"><i class="fa-solid fa-briefcase" id="work"></i>Work</a></h2>
    <h2 id="about-h2"><a href="/about"><i class="fa-regular fa-address-book" id="about-me"></i>About Me</a></h2>
    <h2 id="logout-h2"><a href="/logout"><i class="fa fa-sign-out" id="logout"></i>Log Out</a></h2>
  </div>
</header>
    <main>
      